.jsx-xray pre {
    background-color: #f9f9f9;
    position: relative;
    overflow: unset;
    padding: 20px;
}

.jsx-xray.with-demo pre {
    margin-top: 25px;
}

.jsx-xray .arrow-container {
    display: inline-block;
    overflow: hidden;
    height: 25px;
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(50%, -100%);
}

.jsx-xray .arrow-container:before {
    display: inline-block;
    content: "";
    border: 15px solid transparent;
    border-bottom-color: #f9f9f9;
    filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.15)) drop-shadow(1px 0px 0.5px rgba(0, 0, 0, 0.15));
    position: relative;
    top: -5px;
}
